body {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw;
    height: 100%; */
}

.article-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image {
    float: left;
    margin: 15px 10px 10px 0; 
}

.article-2 {
    width: 100%;
}

table, th, td, tr {
    border: 1px solid black;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: linear-gradient(180deg, #FE0000 16.66%,
    #FD8C00 16.66%, 33.32%,
    #FFE500 33.32%, 49.98%,
    #119F0B 49.98%, 66.64%,
    #0644B3 66.64%, 83.3%,
    #C22EDC 83.3%);
}